.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #2a2a2a;
    border-radius: 10px;
}

.list {
    padding: 0;
    list-style: none;
}

.item {
    font-style: normal;
}